.Customer-Wrapper {
    background-image: url('../../assets/images/Vector26.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
}