/* AgentCard-Container */

.AgentCard-Container {
    position: relative;
}


/* ConsultCard */

.ConsultCard {
    position: absolute;
    left: 200px;
    top: 100px;
}


/* @media screen */

@media screen and (max-width:650px) {
    /* ConsultCard */
    .ConsultCard {
        position: absolute;
        left: 140px;
        top: 100px;
    }
}